/*CSS DOCUMENT*/

/*add media queries*/

/*gen styling*/
html {
    scroll-behavior: smooth;
}

body {
    min-width: fit-content;
    width: 100%;
    margin: auto;
    background-color: black;
}   

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1:hover {
    color: #ff4500;
}

p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ff4500;
}
/*END GENERAL SYTLING*/

/*IMG STYLING, general and title keys*/
.keyboard-backdrop {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../imgs/crop-keyboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.keyboard-backdrop::after {
    clear: both;
}

.title-keys img {
    margin: 0 auto;
    padding: 3px;
    width: 60px;
    height: 60px;
}

 img::after {
    clear: both;
}

.title-keys img:hover {
    border: 2px solid #fff; /*spread*/
    opacity: .8;
    cursor: pointer;
}
/*/IMG STYLING*/

/*--------------------NAVBAR----------------*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /*add terminal img*/
    opacity: 0.9;
    z-index: 500;
}

.navbar::after {
    clear: both;
}

.navbar ul {
    margin-top: 2px;
}

.navbar li {
    display: inline;
    float: left;
    list-style: none;
    cursor: pointer;
}

.navbar a {
    margin-right: 0;
    padding-top: 1px;
    padding-left: 30px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
}

.navbar a:hover {
    color: #ff4500;
}
/*--------------NAVBAR END------------------*/

/*SIDE PANEL*/
.panel {
    margin-top: 20px;
    width: 27px;
    position: fixed;
    z-index: 510;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 5px;
    transition: 0.5s;
}

.openbtn {
    width: 25px;
    padding-top: 5px;
    padding-left: 5px;
    color: #fff;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

.openbtn:hover {
    color: #ff4500;
}

.panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*SIDE PANEL END*/

/*--------------COVER--------------------------------*/
.cover {
    width: 100%;
    height: 475px; /*original 300px*/
    padding-top: 60px;
    background-color: black;
    opacity: 0.9;
}

.portfolio-heading p {
    padding-left: 35px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.portfolio-heading p::after {
    clear: both;
}

.logo img {
    height: 275px;
    width: 600px;
    opacity: 0.1;
    backdrop-filter: blur(20px);  
}

/*output stuff*/
.output p {
    padding-left: 35px;
    text-align: left;
}

/*gif*/
.cover iframe {
    filter: grayscale(100%);
}

.cover iframe:hover {
    filter: grayscale(0%);
}

/*animation work*/
.blink {
    animation: blink-animation 4s steps(7, start) infinite;
    -webkit-animation: blink-animation 4s steps(7, start) infinite;
}

.sm-blink {
    animation: fast-blink-animation 1s steps(6, start) infinite;
    -webkit-animation: fast-blink-animation 1s steps(6, start) infinite;
}

@keyframes blink-animation {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0%;}
 }

@-webkit-keyframes blink-animation {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0%;}
}

@keyframes fast-blink-animation {
    to {
        visibility: hidden;
    }   
}

@-webkit-keyframes fast-blink-animation {
    to {
        visibility: hidden;
    }
}
/*--------------/COVER-----------*/

/*--------------CENTER COL----------*/
.center-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 650px;
    width: 99%;
    background-color: #161727;
    border: 1px solid white;
    border-radius: 10px;
}

.contained {
    padding-top: 30px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.items-2, .items-3 {
    border-left: 2px solid white;
}

.items-1 p {
    font-size: larger;
    text-align: left;
}

.items-1 a {
    font-size: medium;
}


.txt {
    width: 50%;
}
/*------------/CENTER COL-------------*/

/*--------ABOUT-----------*/
.about-txt p {
    width: 60%;
    margin: 0 auto;
    padding-top: 65px;
}

.socials-about a {
    margin: auto;
    color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.socials-about a:hover {
    color: #ff4500;
}

/*-------GIT/PROEJCTS---------*/
.git-logo img {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.git-logo a {
    font-size: larger;
}

/*add contact button animation*/

/*contact form*/
{box-sizing: border-box;}

/*open contact button*/
.open-btn {
    width: 500px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.9em;
    letter-spacing: 0.8em;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

/*hidden by default*/
.popup {
    display: none;
    /*bottom: 0;*/
    border: 3px solid white;
    z-index: 550;
}

/*form container styles*/
.form-div {
    background-color: black;
}

.form-container {
    height: 400px;
    max-width: 350px;
    max-height: 500px;
    padding: 12px;
    margin: 5px 0 22px 0;
    border: none;
    color: #fff;
    background-color: black;
    opacity: 1;
}

.form-container input[type=text] {
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: darkgray;
}

#Message {
    height: 100px;
}

/*focus on inputs do something-*/

/*submit styling*/
.form-container .btn {
    background-color: #ff4500;
    color: #fff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/*add red background color to cancel button*/
.form-container .cancel {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background-color: #ff4500;
    opacity: 0.8;
    cursor: pointer;
}

/*add some hover effects to buttons*/
.form-container .btn:hover, .open-btn:hover, .cancel:hover {
    opacity: 1;
}

/*----------------------footer styling-------------------------*/
footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: black;
}

footer a {
    font-size: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}