/*CSS DOCUMENT*/

/*add media queries*/

/*gen styling*/
html {
    scroll-behavior: smooth;
}

body {
    min-width: fit-content;
    margin: auto;
    background-image: url(../imgs/pexels-hitarth-jadhav-220357.jpg);
    backdrop-filter: blur(7px);
} /*opacity: 0.6;*/

h1, h2, h3 {
    color: #fff;
}

h1:hover {
    color: #ff4500;
}

p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ff4500;
}
/*END GENERAL SYTLING*/

/*IMG STYLING, general and title keys*/
.title-keys img {
    margin: 0 auto;
    padding: 3px;
    width: 60px;
    height: 60px;
}

 img::after {
    clear: both;
}

.title-keys img:hover {
    border: 2px solid #fff; /*spread*/
    opacity: .8;
    cursor: pointer;
}
/*/IMG STYLING*/

/*--------------------NAVBAR----------------*/
.navbar {
    position: fixed;
    width: 100%;
    /*border-top: 20px solid white;
    border-right: 20px solid white;
    border-left: 20px solid white;*/
    background-color: rgba(0, 0, 0, 0.8); /*add terminal img*/
    opacity: 0.9;
    z-index: 500;
}

.navbar::after {
    clear: both;
}

.navbar ul {
    margin-top: 2px;
}

.navbar li {
    display: inline;
    float: left;
    list-style: none;
    cursor: pointer;
}

.navbar a {
    margin-right: 0;
    padding-top: 1px;
    padding-left: 30px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
}

.navbar a:hover {
    color: #ff4500;
}
/*--------------NAVBAR END------------------*/

/*SIDE PANEL*/
.panel {
    margin-top: 20px;
    width: 27px;
    position: fixed;
    z-index: 510;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 5px;
    transition: 0.5s;
}

.openbtn {
    width: 25px;
    padding-top: 5px;
    padding-left: 5px;
    color: #fff;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

.openbtn:hover {
    color: #ff4500;
}

.panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*SIDE PANEL END*/

/*--------------COVER----------*/
.cover {
    width: 100%;
    height: 550px; /*original 300px*/
    padding-top: 60px;
    background-color: black;
    opacity: 0.9;
    /*border: 20px solid white;
    border-radius: 10px;*/
}

.cover h2 {
    padding-left: 5px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
}

.cover h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
}

/*gif*/
.cover a {
    /*text-decoration: none;
    font-size: small;
    visibility: hidden;*/
}

.cover iframe {
    filter: grayscale(100%);
}

.cover iframe:hover {
    filter: grayscale(0%);
}

/*h1 portfolio animation work*/
.blink {
    animation: blink-animation 4s steps(10, start) infinite;
    -webkit-animation: blink-animation 4s steps(10, start) infinite;
}

.sm-blink {
    animation: fast-blink-animation 1s steps(4, start) infinite;
    -webkit-animation: fast-blink-animation 1s steps(4, start) infinite;
}

@keyframes blink-animation {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0%;}
 }

@-webkit-keyframes blink-animation {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0%;}
}

@keyframes fast-blink-animation {
    to {
        visibility: hidden;
    }   
}

@-webkit-keyframes fast-blink-animation {
    to {
        visibility: hidden;
    }
}


/*--------------/COVER-----------*/

/*--------------CENTER COL----------*/
.center-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 400px;
    width: 99%;
    background-color: #0E0F19;
    border: 1px solid white;
    border-radius: 10px;
}

.txt {
    width: 50%;
}
/*------------/CENTER COL-------------*/

/*--------ABOUT-----------*/
.about-txt p {
    width: 60%;
    margin: 0 auto;
    padding-top: 60px;
}

/*-------git---------*/
.git-logo img {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.txt a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.txt a:hover {
    color: #ff4500;
}

/*contact form*/
{box-sizing: border-box;}

/*open contact button*/
.open-btn {
    width: 500px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.9em;
    letter-spacing: 0.8em;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

/*hidden by default*/
.popup {
    display: none;
    position: fixed;
    /*bottom: 0;*/
    border: 3px solid #ff4500;
    z-index: 9;
}

/*form container styles*/
.form-div {
    height: 460px;
    opacity: 1;
    background-color: black;
}

.form-container {
    height: 400px;
    max-width: 350px;
    max-height: 500px;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    color: #fff;
    background-color: black;
    opacity: 1;
}

.form-container input[type=text] {
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: darkgray;
}

#Message {
    height: 100px;
}

/*focus on inputs do something-*/

/*submit styling*/
.form-container .btn {
    background-color: #ff4500;
    color: #fff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/*add red background color to cancel button*/
.form-container .cancel {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background-color: #ff4500;
    opacity: 0.8;
    cursor: pointer;
}

/*add some hover effects to buttons*/
.form-container .btn:hover, .open-btn:hover, .cancel:hover {
    opacity: 1;
}

/*----------------------footer styling-------------------------*/
footer {
    display: block;
    width: 100%;
    height: 80px;
    background-color: black;
}